/* 
    Created on : Sep 20, 2015, 4:49:50 PM
    Author     : Mickey
*/

/**
*  ----------------------------------------------------------------
*  SCSS COLOR KEYWORDS
*  ----------------------------------------------------------------
*/

$turk: #77D4D2;
$seagreen: #92C790;
$rosew: #FBF2FB;
$offwite: #FCF8FE;
$offturk: #E0FEFE;
$peach: #E38880;
$org: #DB825D;
$offblk: #1A0A03;
$brown: #933810;

$grey1: #DFDDDF;
$grey2: #C7C5C4;
$grey3: #9D9B9C;
$grey4: #807D7E;
$grey5: #747273;
$grey6: #4D4C4D;
$grey7: #373838;

